<div class="flash-notice"><%= flash[:notice] %></div>
<div class="flash-errors"><%= flash[:alert] %></div>
<%= link_to "New Question", new_rating_question_path %>
<div class='questions'>
  <% @rating_questions.each do |question| %>
     <p> 
     <%= question.title %> 
     <%= link_to "Edit Question", edit_rating_question_path(question) %> |
      <%= link_to "Delete Question", rating_question_path(question), method: :delete,data: { confirm: 'Are you certain you want to delete this?'}%> 
     </p>
  <% end %>
</div>

